<!DOCTYPE html>
<html>
<head>
<link href="logStyle.css" rel="stylesheet" type="text/css" ></link>
<script src="/JS/Login.js"></script> 

</head>
<body>
<div id= "fullscreen">

<div id= "header">
	<form action="http://localhost/AUTH" method="POST">
		<table>
			<tr>
				<td > Userid</td>
				<td ><input name = "uid" id="uid" type="text"> </input> </td>
			</tr>
			<tr> 
				<td>Password</td> 
				 <td ><input name= "pwd" id="pwd" type="password" > </input></td>
	 		</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Login"></td>
			</tr>
			<tr>
				<td></td>
				<td><a id="ForgotUID">Forgot Userid or Password? </a></td>
			</tr>
		</table>
	</form>
	
</div>
	
<div id="trunk">

	<div id="Greeting">Welcome to Y16!</div>
	<div id="logodisplay">
	<img id="logo" src="login.jpg"></img> 
	</div>


	
</div>
<body>
</div>
<div id="footer">
</div>
</html>


	
	
	 
