<html>
<head>
	<link href="regStyle.css" rel="stylesheet" type="text/css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script></script>  
</head>
	
<div id="fullScreen">
	<div id="header">
			<img id= "lgimage" src="login.jpg" ></img>
			<div id="BN">Y16!</div>
	</div>
		<div id="body">
				<form action="Registration">
					
					<table id="table">		
					<tr>	
						<td>UserId</td>
						<td><input  name="uid" id="uid" type="text"></input></td>
					</tr>
					<tr>	
						<td>Password</td>
						<td><input  name="pwd" id="pwd" type="password"></input></td>
					</tr>
					<tr>	
						<td>First name</td>
						<td><input  name="name1" id="name1" type="text"></input></td>
					</tr>	
					<tr>	
						<td> Last name</td>
						<td><input  name="name2" id="name2" type="text"></input><br></td>
						
						<td>
							<input type="Radio" value="Male" name="GID1">Male</input><br>
						</td>
						<td>
							<input type="Radio" value="Female" name="GID2">Female</input><br>
						</td>
						<td>
							<input type="Radio" value="NSP" name="GID3">Other</input><br>
						</td>
						
					</tr>	
					</tr>
					
					<tr>	
						<td>Email</td>
						<td><input name="email"  id ='email' type="text"></input></td>
					</tr>	
					<tr>	
						<td>Phone number</td>
						<td><input  name="Phn" id="Phn" type="text"></input></td>
					</tr>	
					<tr>	
						<td>Date of birth(mm/dd/yyyy)</td>
						<td><input name="DOB" id="DOB" type="date" date-format=mm/dd,yyyy></input></td>
					</tr>	
					<tr>	
						<td id="Alert">Click here to register </td>
						
						<td><input id="SubmitButton" type="submit" value="Submit" ></input></td>
					</tr>	
				</table>	
			
				</form>
				
		</div>
		<div id="footer">
			Copyright @y16
		</div>
</div>
</html>