#fullScreen{
	height:100%;
	width:100%;

}
#header{
  height: 10%;
  width:100%;
  background:#58D68D;
  }
  
 #lgimage{
height: 100%;
width:8%;
float:left;
padding:1%
}

#BN{
height:100%;
width:80%;
font-size: 30;
font-style: Times;
padding:2%
}

#table{
background:beige;
height:50%;
width:50%;
box-align:center;

}
#body{
	height:70%;
	width:100%;
	background:#A9DFBF;	
	text-align:center;

}

#footer {

  height:20%;
  width:100%;
  background:#F7DC6F; 	
}

#SubmitButton:hover{
	border-style:solid;
	color:green;

}